body {
	padding: 0;
	margin: 0;
}
#title{
	position: relative;
	top:-50px;
	background: #F5F5F5;
	height: 200px;
	width: 100%;
	}
	#title span{
		position: absolute;
		top:95px;
		left: 150px;
		font-size: 50px;
	}
	
			

.divider{
	width:100%;
	height:1px;
	background-color: #A9A9A9;
}
.fileitem {
	display: flex;
	margin-left: 20px;
	height: 100px;
	align-items: center;
	margin: 20px 0 20px 20px;
	padding: 20px 0;
	width: 85%;
	border-bottom: 1px solid #A9A9A9;
}

.fileitem img {
	width: 150px;
	height: 120px;
	margin: 20px;
}

.fileitem>div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.fileitem>span{
	font-size: 50px;
	font-weight: bolder;
}

.filename {
	font-size: 30px;
	font-weight: 600;
	margin: 10px 20px;
}

.date {
	font-size: 30px;
	margin: 10px 20px;
	color: #999;
}

.search {
	position: relative;
	margin-top: 20px;
}

.search input {
	padding: 5px 80px;
	height: 80px;
	font-size: 40px;
	border-radius: 20px;
	width: 85%;
	margin: 10px 0 0 20px;
	background-color: #f5f5f5;
	border: none;
	box-sizing: border-box;
}

.search img {
	heigth: 40px;
	width: 40px;
	position: absolute;
	left: 45px;
	top: 30px;
}

.search div {
	margin: 20px 0 0 20px;
	width: 85%;
	background-color: #A9A9A9;
	height: 1px;
}

.tabbar {
	width: 100%;
	height: 180px;
	background-color: #f5f5f5;
	position: fixed;
	bottom: 0;
	display: flex;
}

.tabbar>span {
	width: 50%;
	height: 100%;
}

.tabbar>span>div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	color: #999;
}